ion-title {
  text-align: center;
  padding: 0px;
  margin-right: 15%;
}

ion-toolbar {
  // --background: #f5f5f3;
  ion-button {
      text-transform: initial;
      font-size: 17px;
  }
}

ion-content {
  // --background: #f5f5f3;
  h1 {
      text-align: center;
      font-weight: 700;
      font-size: 26px;
      color: #010100;
      margin-bottom: 15%;
  }
  .sl-form {
      // margin-top: 15%;
      // margin-top: 5%;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 0;
      padding-top: 0;
      .sl-containerAvatar {
          display: block;
          align-items: center;
          justify-content: center;
          text-align: center;
          margin-bottom: 30px;
          ion-avatar {
              margin: 0 auto;
              margin-bottom: 10px;
              height: 80px;
              width: 80px;
              .sl-camera {
                  // position: absolute;
                  // left: 50%;
                  position: relative;
                  left: 60%;
                  /* height: 30px; */
                  width: 30px;
                  height: 30px;
                  display: flex;
                  align-items: center;
                  bottom: 40%;
                  border-radius: 30px;
                  justify-content: center;
              }
              .foto-img {
                  height: 80px;
                  width: 80px;
              }
          }
      }
      ion-button {
          margin-top: 35px;
          height: 48px;
          font-size: 18px;
          text-transform: initial;
          // border-radius: 50px;
          box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
          --box-shadow: none;
      }
  }
  .sl-finish {
      padding-left: 30px;
      padding-right: 30px;
      ion-button {
          height: 48px;
          font-size: 18px;
          text-transform: initial;
          // border-radius: 50px;
          box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
          --box-shadow: none;
      }
  }
  p {
      text-align: center;
      color: #b6b6b6;
      margin-top: 10px;
      font-size: 14px;
      a {
          color: var(--ion-color-primary);
      }
  }
}


ion-item {
  border-radius: 10px;
  --background: #f1f5f8;
  --min-height: 70px;
  --highlight-height: 0px;
  ion-input {
    font-size: 16px;
    --padding-start: 5px;
  }

  a {
    font-size: 17px;
    letter-spacing: 0.5px;
    text-decoration: none;
  }
}

.sl-avatar {
  height: 50px;
  width: 50px;
}

.sl-label {
  font-size: 14px;
  text-transform: none;
}

.go-senha {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  //   top: 10px;
}

ion-slide {
  display: block;
  ion-item-divider {
      --background: transparent;
      width: 80%;
      // margin: 10px;
      margin: 10px 28px;
      padding-left: 0px;
  }
}

.sl-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ion-segment {
  background: transparent;
  ion-segment-button {
      --color: #8c8c8c;
      // --indicator-color: white;  #8c8c8c;
      // --color-checked: var(--ion-color-primary);
      // --color: var(--ion-color-dark);
      // --indicator-height: 4px;
      --indicator-height: 2px;
      --indicator-color: var(--ion-color-primary);
      --color-checked: var(--ion-color-primary);
      font-size: 14px;
      text-transform: none;
      padding: 10px;
      ion-label {
          white-space: break-spaces;
          font-size: 14px;
      }
  }
}

ion-segment-button::part(indicator) {
  width: 24px;
  margin: auto;
}

.item-acc{
 background: var(--ion-color-primary);
}