<ion-header class="ion-no-border">
  <div class="login-header ion-padding">
    <img class="logo-img" src="assets/apoioHospitalar.png" />
  </div>
</ion-header>

<ion-content>

  <div id="header">
    <h1>
      Login para acesso
    </h1>
  </div>
  <div>
    <form id="form" [formGroup]="loginForm" novalidate>
      <ion-item lines="none" class="ion-margin-bottom">
        <ion-input type="email" clearInput="true" formControlName="useremail"
          placeholder="Informe seu e-mail"></ion-input>
      </ion-item>
      <ion-item lines="none" class="ion-margin-bottom">
        <!-- <ion-input  type="password"  [formControl]="loginform.controls['userpass']" required placeholder="Password"></ion-input> -->
        <ion-input placeholder="Informe sua senha" maxlength="8" [type]="mostrarSenha ? 'password' : 'text'"
          formControlName="userpass" required></ion-input>
        <ion-icon size="small" color="primary" [name]="mostrarSenha ? 'eye-outline' : 'eye-off-outline'"
          class="go-senha" slot="end" (click)="mostrarSenha = !mostrarSenha">
        </ion-icon>
      </ion-item>
      <p>
        Esqueceu a senha ?
        <a routerLink="/esqueci-senha"> Clique aqui </a>
      </p>
      <ion-button mode="ios" [disabled]="!loginForm.valid || button" (click)="doLogin()" class="sl-logged"
        color="primary" expand="block" shape="round">
        <ion-label color="light"> Entrar </ion-label>
        <div style="margin-left: 10px" *ngIf="button">
          <ion-spinner color="light" name="crescent"></ion-spinner>
        </div>
      </ion-button>
      <p style="text-align: center;">
        Ou
      </p>
      <ion-button routerLink="/cadastro" class="sl-signup-clear" expand="block" fill="clear">
        <ion-label color="primary">
          Cadastre-se
        </ion-label>
      </ion-button>
    </form>
  </div>
</ion-content>