
.login-header{
  // background: var(--ion-color-primary);
}

  .logo-img{
    display: block;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    background:var(--ion-color-primary);
    border-radius: 10px;
    width: 170px;
    object-fit: contain;
  }

  .login-header{
    position: relative;
    background: var(--ion-color-primary);
    border-color: 0em;
    height: 140px;
  }

  .login-header:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 18%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: var(--ion-color-primary);
    border-bottom: 0;
    margin-left: 130px;
    margin-bottom: -15px;
  }

ion-toolbar {
    --background: #f5f5f3;
    ion-button {
        text-transform: initial;
        font-size: 17px;
    }
}

ion-content {
  --background: #ffff;
    #header {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 50px;
        padding: 30px;
        h1 {
            font-weight: 700;
            font-size: 20px;
            color: var(--ion-color-primary);
            margin-bottom: 15%;
        }
        img {
            width: 400px;
            object-fit: contain;
            height: 200px;
        }
    }
    #form {
        margin-top: 10%;
        padding-left: 30px;
        padding-right: 30px;
    }
}


ion-item {
  border-radius: 10px;
  --background: #f1f5f8;
  --min-height: 70px;
  --highlight-height: 0px;
  ion-input {
    font-size: 16px;
    --padding-start: 5px;
  }

  a {
    font-size: 17px;
    letter-spacing: 0.5px;
    text-decoration: none;
  }
}


p {
    text-align: right;
    color: #b6b6b6;
    margin-top: 30px;
    font-size: 14px;
    a {
        color: var(--ion-color-primary);
    }
}
