<ion-content fullscreen="true">
  <div class="onboard-background">
    <div class="onboard-content">
      <img class="logo-img fade-in-div" src="assets/apoioHospitalar.png" />
      <div class="position-bottom">
        <h2>
          Bem vindo,
        </h2>
        <p>
          Encontre profissionais capacitados para
          estadias hospitalares
        </p>
        <ion-button class="sl-logged button-onboard" color="primary" (click)="irParaInicio()" expand="block" expand="block">
          <ion-label>
           Começar agora
          </ion-label>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>