
<ion-content [fullscreen]="true">
  <div class="onboard-background">
    <div class="onboard-content">
      <div class="position-bottom">
        <h2>
          Bem vindo, Cuidador
        </h2>
        <p>
          Seja essencial no cuidado de idosos
          Conectamos serviços de saúde com familiares

        </p>
        <ion-button 
        class="sl-logged button-onboard"
        color="primary"
        expand="block"
        (click)="irParaInicio()"
         expand="block">
        <ion-label>
          Junte-se agora
        </ion-label>
      </ion-button>
    </div>
    </div>
  </div>
</ion-content>
