<ion-header class="ion-no-border">
  <ion-toolbar class="header">
    <ion-title>
      Chat Estadia
    </ion-title>
    <ion-button (click)="fechar()" fill="clear" slot="end">
      <ion-icon  name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card mode="ios" color="primary">
<ion-card-header>
  <ion-card-subtitle style="color:white">
    Atenção sobre o chat de atendimento!
  </ion-card-subtitle>
</ion-card-header>

<ion-card-content>
  <ion-text color="light">
    Após o fechamento do atendimento, as mensagens não serão mantidas.
  </ion-text>
</ion-card-content>
</ion-card>
<div *ngFor="let msgEnviada of mensagens" class="msg-position">
  <ion-card *ngIf="msgEnviada?.pertenceA === usuarioId"  color="primary" class="msg-enviada" mode="ios">
   <ion-card-content style="padding: 10px;">
    <ion-label>
     Você:{{msgEnviada?.mensagem}}
       <p>
        enviou em: {{msgEnviada?.enviandoEm}}
        </p>
      </ion-label>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="msgEnviada?.pertenceA !== usuarioId"  class="msg-enviada" mode="ios">
   <ion-card-content style="padding: 10px;">
      <ion-label>
        Responsavel: {{msgEnviada?.mensagem}}
         <p>
         enviado em:{{msgEnviada?.enviandoEm}}
          </p>
        </ion-label>
    </ion-card-content>
  </ion-card>
</div>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-item mode="ios" detail="false" lines="none">
    <ion-input placeholder="Digite sua mensagem" [(ngModel)]="mensagem">
    </ion-input>
    <ion-button (click)="enviarMensagemProf()" fill="clear" slot="end">
      <ion-icon color="primary" name="send"></ion-icon>
    </ion-button>
  </ion-item>
</ion-footer>
