
ion-content {

    h1 {
      text-align: center;
      font-weight: 700;
      font-size: 26px;
      color: #010100;
      margin-bottom: 15%;
    }
  
    .sl-form {
      // margin-top: 15%;
      // margin-top: 5%;
      padding-left: 20px;
      padding-right: 20px;
  
      .sl-containerAvatar{
        display: block;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 30px;
        ion-avatar{
          margin: 0 auto;
          margin-bottom: 10px;
          .sl-camera{
            // position: absolute;
            // left: 50%;
            position: relative;
            left: 60%;
            /* height: 30px; */
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            bottom: 40%;
            border-radius: 30px;
            justify-content: center;
          }
        }
      }
  
      ion-button {
        margin-top: 35px;
        height: 48px;
        font-size: 18px;
        text-transform: initial;
        border-radius: 10px;
        box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
        --box-shadow: none;
      }
    }
  
  
  
    p {
      text-align: center;
      color: #b6b6b6;
      margin-top: 10px;
      font-size: 14px;
      a{
        color: var(--ion-color-sl);
      }
    }
  }
  
  
  ion-item {
    border-radius: 10px;
    --background: #f1f5f8;
    min-height: 80px;
    --highlight-height: 0px;
    ion-input {
      font-size: 16px;
      --padding-start: 5px;
      min-height: 85px
    }
  
    a {
      font-size: 17px;
      letter-spacing: 0.5px;
      text-decoration: none;
    }
  }
  
  .sl-avatar{
    height: 50px;
      width: 50px;
  }
  
  .sl-label{
    font-size: 14px;
    text-transform: none;
  }
  
  
  .go-senha {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  ion-slide{
    display: block;
  
    ion-item-divider{
      --background: transparent;
      width: 80%;
      margin: 10px 28px;
      padding-left: 0px;
    }
  }
  
  .sl-buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  
  .sl-containerAvatar{
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    ion-avatar{
      margin: 0 auto;
      margin-bottom: 10px;
      height: 80px;
      width: 80px;
      .sl-camera{
        position: relative;
        left: 60%;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        bottom: 40%;
        border-radius: 30px;
        justify-content: center;
      }
    }
  }
  
  .sl-finish {
    display: flex;
    height: 53px;
    font-size: 18px;
    text-transform: none;
    border-radius: 8px;
    box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
    --box-shadow: none;
    width: 100%;
    margin: 0;
    padding: 0;
  
  }
  